- view_body_class.set("view");
- page_title.set(title);
section#projects.clearfix
  a.arrow.prev(href='/')
  a.arrow.next(href='/')
  article(id='#{slug}')
    .copy
      header
        h1 #{title}
      section.overview
        h2 Overview
        each p in overview
          p!= p
      section.specs
        h2 Technical Specs
        ul
          each spec in specs
            li!= spec
      section.tags
      section.website
        - if(website)
          a(href="http://#{website}", title="#{title}") &raquo; visit #{website}
        a.back-to-projects(href="/projects", title="#{title}") &laquo; back to projects
    section.screenshots
      each image in screenshots
        img(src='/images/projects/#{slug}/#{image}.jpg', alt="#{image}")
  //- != partial('projects/_all')