- view_body_class.set("view");
- page_title.set(title);
section#projects.clearfix
  - prevClass = (!prev) ? ' hidden' : '';
  - nextClass = (!next) ? ' hidden' : '';
  a#prev(href='/projects/#{prev}', class="arrow pushstate#{prevClass}")
    img(src="/images/arrow-blue-left.png")
  a#next(href='/projects/#{next}', class="arrow pushstate#{nextClass}")
    img(src="/images/arrow-blue-right.png")
  article(id='#{slug}')
    section.screenshots
      each image, index in screenshots
        - firstClass = (!index) ? ' first' : '';
        img(src='/images/projects/#{slug}/#{image}.jpg', alt="#{image}", class="#{firstClass}")
    //- != partial('projects/_all')

    .copy
      header
        h1 #{title}
      section.overview
        h2 Overview
        each p in overview
          p!= p
      section.specs
        h2 Technical Specs
        ul
          each spec in specs
            li!= spec
      - if(website)
        section.tags
      - if(website)
        section.website
            a(href="http://#{website}", title="#{title}", target="_blank") &raquo; visit #{website}
        section.in-page-navigation
          a.pushstate.top ^ back to top
          a.pushstate.back-to-projects(href="/projects", title="#{title}") &laquo; back to projects
    .controls.hidden(data-prev="#{prev}", data-next="#{next}")