- view_body_class.set("view");
- page_title.set(title);
section#projects.clearfix
  - if(prev)
    a.arrow.prev.pushstate(href='/projects/#{prev}')
  - if(next)
    a.arrow.next.pushstate(href='/projects/#{next}')
  article(id='#{slug}')
    #copy
      header
        h1 #{title}
      section#overview
        h2 Overview
        each p in overview
          p!= p
      section#specs
        h2 Technical Specs
        ul
          each spec in specs
            li!= spec
      - if(website)
        section#tags
      - if(website)
        section#website
            a(href="http://#{website}", title="#{title}") &raquo; visit #{website}
        section#in-page-navigation
          a.pushstate#top ^ back to top
          a.pushstate#back-to-projects(href="/projects", title="#{title}") &laquo; back to projects

    section#screenshots
      each image in screenshots
        img(src='/images/projects/#{slug}/#{image}.jpg', alt="#{image}")
  //- != partial('projects/_all')