ul
  li 
    b Name: 
    #{name}
  li 
    b Org: 
    #{organization}
  li 
    b Email: 
    #{email}
  li 
    b Phone 
    #{tel}
  li 
    b Deadline: 
    #{date}
  li 
    b Budget: 
    #{budget}
  li 
    b Message: 
    #{message}